<body background="http://th04.deviantart.net/fs71/PRE/f/2012/226/2/8/ics_basic_android_wallpaper_by_bobakazooboy-d5b12qv.png"
<table border="0" height="50%" width="100%">
 	<tr>
 		<td>
 			<%= render partial: "titulo" %>

<h1 align="center"><font >Listagem de Restaurantes</font></h1>
	<table border="1" height="50%" width="60%" align="center" color="#000">
		<tr>
			<th><font color'#000'>Nome</font></th>
			<th>Endereço</th>
			<th >Especialidade</th>
			<th colspan="3"> Controle dos cadastros </th>
		</tr>
<% @restaurantes.each do |restaurante| %>
<tr>
<td align="center"><%= restaurante.nome %></td>
<td align="center"><%= restaurante.endereco %></td>
<td align="center"><%= restaurante.especialidade %></td>
<td align="center">
<%= link_to 'Mostrar', action: 'show', id: restaurante %>
</td>
<td align="center">
<%= link_to 'Editar', action: 'edit', id: restaurante %>
</td>

<td align="center">
<%= link_to 'Deletar', action: 'destroy', id: restaurante %>
</td>

</tr>
<% end %>
</table>
<%= paginate @restaurantes %>
<br/>
<%= link_to 'Novo', action: 'new' %>


		</td>
 	</tr>
</table>
