
	<%= render partial: "titulo" %>
<h1 align="center"><font >Listagem de Restaurantes</font></h1>
<table border="1" height="50%" width="60%" align="center" color="#000">
<tr>
<th><font color'#000'>Nome</font></th>
<th>Endereço</th>
<th >Especialidade</th>
<th colspan="3"> Controle dos cadastros </th>
</tr>
<% @restaurantes.each do |restaurante| %>
<tr>
<td align="center"><%= restaurante.nome %></td>
<td align="center"><%= restaurante.endereco %></td>
<td align="center"><%= restaurante.especialidade %></td>
<td align="center">
<%= link_to 'Mostrar', action: 'show', id: restaurante %>
</td>
<td align="center">
<%= link_to 'Editar', action: 'edit', id: restaurante %>
</td>

<td align="center">
<%= link_to 'Deletar', action: 'destroy', id: restaurante %>
</td>

</tr>
<% end %>
</table>
<%= paginate @restaurantes %>
<br/>
<%= link_to 'Novo', action: 'new' %>
<br>
<img src="http://4.bp.blogspot.com/-4ASp3pFQ6Aw/UHbz_z6KMDI/AAAAAAAACaM/7r9ErxWGj-Q/s1600/HAMBURGUER+DESENHO.png">

