	<font family="Purisa" size="3px" >
	<%= link_to 'Editar', action: 'edit', id: @restaurante  %>
	<%= link_to 'Voltar', action: 'index'  %>
</font>

<table class="tablecor2" border="1" width="1000" align="center" color="#000" class="titulo">
				<td colspan="6" align="center"><h1 align="center"><font face="Purisa" >

					<%= render partial: "titulo" %>
Exibindo Restaurante</font></h1>
	<p align=center>
	<b>Nome: </b>
	<%= @restaurante.nome %>
	</p>
	<p align=center>
	<b>Endereço: </b>
	<%= @restaurante.endereco %>
	</p>
	<p align=center>
	<b>Especialidade: </b>
	<%= @restaurante.especialidade %>
	</p>

<p>
<b class = "titletable">Foto:</b><br/>
<%= image_tag @restaurante.foto.url(:medium) %>
</p>


<%= link_to "Qualificar este restaurante", :controller => "qualificacoes", :action => "new", :restaurante => @restaurante %>
<b> Nota média: </b>
<%= @restaurante.qualificacoes.average(:nota) %><br />
<b> Qualificações: </b>
<%= @restaurante.qualificacoes.count %><br />
<b>Preço médio: </b>
<%= @restaurante.qualificacoes.average(:valor_gasto) %><br/><br/>


<% unless @restaurante.comentarios.empty?%>
<%= comentarios @restaurante %>
<% end %>
<%= novo_comentario(@restaurante) %></td></table>
