<%= render partial: "titulo" %>


	<h1 align=center>Exibindo Restaurante</h1>
	<p align=center>
	<b>Nome: </b>
	<%= @restaurante.nome %>
	</p>
	<p align=center>
	<b>Endereço: </b>
	<%= @restaurante.endereco %>
	</p>
	<p align=center>
	<b>Especialidade: </b>
	<%= @restaurante.especialidade %>
	</p>
	<p align=center>
	<%= link_to 'Editar', action: 'edit', id: @restaurante  %>
	<%= link_to 'Voltar', action: 'index'  %>
</p>

<p>
	<b>Foto:</b>
	<%= image_tag @restaurante.foto.url(:thumb) %>
</p>


<%= link_to "Qualificar este restaurante", :controller => "qualificacoes", :action => "new", :restaurante => @restaurante %>
<b> Nota média: </b>
<%= @restaurante.qualificacoes.average(:nota) %><br />
<b> Qualificações: </b>
<%= @restaurante.qualificacoes.count %><br />
<b>Preço médio: </b>
<%= @restaurante.qualificacoes.average(:valor_gasto) %><br/><br/>


<% unless @restaurante.comentarios.empty?%>
<%= comentarios @restaurante %>
<% end %>
<%= novo_comentario(@restaurante) %>

<br>
<br>
<br>
<br>
<br>
<br>

<img src="http://www.cg.unimed.com.br/img/noticias/refrigerante004.png">
<img src="http://4.bp.blogspot.com/-4ASp3pFQ6Aw/UHbz_z6KMDI/AAAAAAAACaM/7r9ErxWGj-Q/s1600/HAMBURGUER+DESENHO.png">