<%= render partial: "titulo" %>
<h1>Exibindo Restaurante</h1>
<p>
<b>Nome: </b>
<%= @restaurante.nome %>
</p>
<p>
<b>Endereço: </b>
<%= @restaurante.endereco %>
</p>
<p>
<b>Especialidade: </b>
<%= @restaurante.especialidade %>
</p>
<%= link_to 'Edit', action: 'edit', id: @restaurante  %>
<%= link_to 'Back', action: 'index'  %>


<p>
	<b>Foto:</b>
	<%= image_tag @restaurante.foto.url(:thumb) %>
</p>


<%= link_to "Qualificar este restaurante", :controller => "qualificacoes", :action => "new", :restaurante => @restaurante %>
<b> Nota média: </b>
<%= @restaurante.qualificacoes.average(:nota) %><br />
<b> Qualificações: </b>
<%= @restaurante.qualificacoes.count %><br />
<b>Preço médio: </b>
<%= @restaurante.qualificacoes.average(:valor_gasto) %><br/><br/>


<% unless @restaurante.comentarios.empty?%>
<%= comentarios @restaurante %>
<% end %>
<%= novo_comentario(@restaurante) %>

<br>
<br>
<br>
<br>
<br>
<br>

<img src="http://4.bp.blogspot.com/-4ASp3pFQ6Aw/UHbz_z6KMDI/AAAAAAAACaM/7r9ErxWGj-Q/s1600/HAMBURGUER+DESENHO.png"> 