<p id="comentario_<%= comentario.id %>">
<%= comentario.conteudo %> 

<%= link_to '(remover)', comentario, :method => :delete, :remote => true, :id => "remove_comentario_#{comentario.id}" %>
</p>
<%= content_for :js do %>
$('#remove_comentario_<%=comentario.id %>').bind('ajax: success', function(xhr, result){
$('#comentaio_<%=comentario.id%>').remove();
}
);
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>

<img src="http://4.bp.blogspot.com/-4ASp3pFQ6Aw/UHbz_z6KMDI/AAAAAAAACaM/7r9ErxWGj-Q/s1600/HAMBURGUER+DESENHO.png"> 