<h1><font color="black">Listagem de Comentarios</font></h1>



<table border="0  " height="70%" width="90%">
  <tr>
    <th><font  color='#4F4F4F'>Conteudo</font></th>
    <th><font  color='#4F4F4F'>Comentavel</font></th>
    <th colspan="4"><font  color='#4F4F4F'>Comentavel type</font> </th>
  
  </tr>

<% @comentarios.each do |comentario| %>
  <tr>
    <td><%= comentario.conteudo %></td>
    <td ><%= comentario.comentavel_id %></td>
    <td    ><%= comentario.comentavel_type %>
       

   <td> <%= link_to 'Mostrar', comentario %>
    <td><%= link_to 'Editar', edit_comentario_path(comentario) %>
    <td><%= link_to 'Delete', comentario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comentario', new_comentario_path %>


<br>

<img src="http://2011.festivalmundo.com.br/static/images/float/refrigerante02.png">
<img align="right" src="http://4.bp.blogspot.com/-4ASp3pFQ6Aw/UHbz_z6KMDI/AAAAAAAACaM/7r9ErxWGj-Q/s1600/HAMBURGUER+DESENHO.png">