<table border="0"  widhT="1000" align="center" >
  <td>
  <img src="https://lh5.googleusercontent.com/-n4wNSNJCkjQ/UOsTje1i5BI/AAAAAAAAAb8/kFULiHAgQGE/s581/t2.png">
  <img src="http://4.bp.blogspot.com/-4ASp3pFQ6Aw/UHbz_z6KMDI/AAAAAAAACaM/7r9ErxWGj-Q/s1600/HAMBURGUER+DESENHO.png">
  </td>
</table>

  <tr>
    <td>
      <table class="tablecor" border="0" align="center" width="950">
    <tr>
        <td align="center"><a href="http://localhost:3000/restaurantes"><font size="4" color="#000EEE" face="Purisa">Restaurante</font></a></td>
        <td align="center"><a href="http://localhost:3000/clientes"><font size="4" color="#000EEE" face="Purisa">Clientes</font></a></td>
        <td align="center"><a href="http://localhost:3000/qualificacoes"><font size="4" color="#000EEE" face="Purisa">Qualificações</font></a></td>
        <td align="center"><a href="http://localhost:3000/comentarios"><font size="4" color="#000EEE" face="Purisa">Comentários</font></a></td>
      </tr>
      </table>
    <br>
    <br>
    <br>

<table class="tablecor2" border=1 align="center" height="50" width="60%">
  <td colspan="6" align="center"><font face="Purisa">

<p id="notice"><%= notice %></p>

<p>
  <b>Conteudo:</b>
  <%= @comentario.conteudo %>
</p>

<p>
  <b>Comentavel:</b>
  <%= @comentario.comentavel_id %>
</p>

<p>
  <b>Comentavel type:</b>
  <%= @comentario.comentavel_type %>
</p>


<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>

<br>
<br>
<br>
<br>
<br>
<br>
</font></td></table>