<table border="0"  widhT="1000" align="center" >
  <td>
  <img src="https://lh5.googleusercontent.com/-n4wNSNJCkjQ/UOsTje1i5BI/AAAAAAAAAb8/kFULiHAgQGE/s581/t2.png">
  <img src="http://4.bp.blogspot.com/-4ASp3pFQ6Aw/UHbz_z6KMDI/AAAAAAAACaM/7r9ErxWGj-Q/s1600/HAMBURGUER+DESENHO.png">
  </td>
</table>

  <tr>
    <td>
      <table class="tablecor" border="0" align="center" width="950">
    <tr>
        <td align="center"><a href="http://localhost:3000/restaurantes"><font size="4" color="#000EEE" face="Purisa">Restaurante</font></a></td>
        <td align="center"><a href="http://localhost:3000/clientes"><font size="4" color="#000EEE" face="Purisa">Clientes</font></a></td>
        <td align="center"><a href="http://localhost:3000/qualificacoes"><font size="4" color="#000EEE" face="Purisa">Qualificações</font></a></td>
        <td align="center"><a href="http://localhost:3000/comentarios"><font size="4" color="#000EEE" face="Purisa">Comentários</font></a></td>
      </tr>
      </table>
    <br>
    <br>
    <br>

<table class="tablecor2" border="1" align="center" height="50" width="60%">
  <td colspan="8" align="center"><font face="Purisa">
<h1>Listagem de Qualificacoes</h1></td>


  <tr>
    <td><font size="3px" face="Purisa">Cliente</td>
    <td><font size="3px" face="Purisa">Restaurante</td>
    <td><font size="3px" face="Purisa">Nota</td>
    <td><font size="3px" face="Purisa">Valor gasto</td>
    <td colspan="3"><font size="3px" face="Purisa">Controle dos cadastros</td>
    
  </tr>

<% @qualificacoes.each do |qualificacao| %>
  <tr>
    <td><%= qualificacao.cliente.nome %></td>
    <td><%= qualificacao.restaurante.nome %></td>
    <td><%= qualificacao.nota %></td>
    <td><%= qualificacao.valor_gasto %></td>
    <td><%= link_to 'Mostrar', qualificacao %></td>
    <td><%= link_to 'Editar', edit_qualificacao_path(qualificacao) %></td>
    <td><%= link_to 'Remover',qualificacao, method: :delete, data: { confirm: 'Você tem certeza?'}%></td> 
   
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qualificacao', new_qualificacao_path %>
